:root {
  /* Text */
  font-family: 'Monaco', monospace;
  color: var(--dirt);

  /* Colour */
  --background-color: rgba(36, 36, 36, 1);
  --naranja: rgba(255, 192, 31, 0.877);
  --white: rgba(255, 255, 255, 0.87);
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --clay: rgba(255, 137, 46, 0.441);
  --dirt: rgba(39, 17, 0, 0.9);

}

/* Other core styles / behaviours */
#app {
  background-color: var(--clay);
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dirt);
}

hr {
  border-color: var(--dirt);
}

/* Links */
a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  background: var(--dirt);
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 0.7s infinite;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  font-size: 2em; 
  text-align: left;
  flex-grow: 1;
}

.header-container .image {
  margin-right: 10px;
  width: auto;
  height: 2.5em;
  margin-right: 10px;
  border-radius: 8px;
}

.header-container .text {
  background: var(--dirt);
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.header-container .text:hover {
  animation: gradient-animation 0.7s infinite;
}

/* Funky animation for links */
@keyframes gradient-animation {
  0% {
      background: linear-gradient(135deg, #00ff4c, #ff9ddb);
      background-clip: text;
      -webkit-background-clip: text;
  }
  12.5% {
      background: linear-gradient(180deg, #00ff4c, #ff9ddb);
      background-clip: text; 
      -webkit-background-clip: text;
  }
  25% {
      background: linear-gradient(225deg, #00ff4c, #ff9ddb);
      background-clip: text; 
      -webkit-background-clip: text;
  }
  37.5% {
      background: linear-gradient(270deg, #00ff4c, #ff9ddb);
      background-clip: text; 
      -webkit-background-clip: text;
  }
  50% {
      background: linear-gradient(315deg, #00ff4c, #ff9ddb);
      background-clip: text; 
      -webkit-background-clip: text;
  }
  62.5% {
      background: linear-gradient(360deg, #00ff4c, #ff9ddb);
      background-clip: text; 
      -webkit-background-clip: text;
  }
  75% {
      background: linear-gradient(45deg, #00ff4c, #ff9ddb);
      background-clip: text; 
      -webkit-background-clip: text;
  }
  87.5% {
      background: linear-gradient(90deg, #00ff4c, #ff9ddb);
      background-clip: text; 
      -webkit-background-clip: text;
  }
  100% {
      background: linear-gradient(135deg, #00ff4c, #ff9ddb);
      background-clip: text; 
      -webkit-background-clip: text;
  }
}

/* Nav */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
nav ul li {
  margin-right: 20px;
}

/* Section */
.section-container h2 {
  color: var(--naranja);
}

/* Lists */
.li-span:hover {
  color: var(--white);
  background: var(--naranja);
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
